body {
  background-image: url('/images/bg3.jpg');
  font-family: Arial, sans-serif;
}
  
.form {
  margin: 50px auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
  
h2 {
  font-size: 36px;
  color: #333;
  margin-top: 0;
}
  
.form-group {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
  
label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
  
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
  
button[type="submit"] {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: orangered;
}

a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: blue;
  font-size: 18px;
  text-decoration: none;
}
  
a:hover {
  color: red;
}
  